<ion-header>
  <ion-navbar color="primary">
    <ion-title>Restaurants</ion-title>    
  </ion-navbar>
</ion-header>
<ion-content class="menu-page" padding>
   <ion-list>
      <ion-item *ngFor="let m of restaurants"  (click)="goTo(m.page,m)">
        <ion-thumbnail item-left *ngIf="m.icon !==''">
          <img [src]="m.icon">
        </ion-thumbnail>
        <h2>{{m.title}}</h2>
        <p>{{m.description}}</p>
        <ion-row no-padding>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col text-right>
              <ion-icon name='star' class="text-secondary"  *ngFor="let x of m.rating"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
</ion-content>
 