<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{data.title}} on Map</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="map-content" padding>
  <div class="map" id="map" #map color="secondary" width="200px" height="200px" style="width:100% !important;height:100% !important;" padding></div>
</ion-content>
