<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Business</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="menu-page" padding>
   <ion-list inset>
      <ion-item *ngFor="let m of menu"  (click)="goTo(m.page)">
        <ion-avatar item-left>
          <img [src]="m.icon">
        </ion-avatar>
        <h2>{{m.title}}</h2>
        <p>{{m.description}}</p>
      </ion-item>
    </ion-list>
</ion-content>
 