<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="emergency-title">Emergency Contacts</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="menu-page" padding>
   <ion-list inset>
      <ion-item *ngFor="let m of menu" (click)="call(m.number)">
        <ion-icon name='contact' item-left></ion-icon>
        {{m.title}}
        <ion-icon name="call" color="secondary" item-right></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>
 