<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{data.title}}</ion-title>    
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-card *ngIf="data.description !==''">
   <ion-card-content>
      <p [innerHTML]="data.description"></p>
   </ion-card-content>
  </ion-card>
   <ion-card *ngFor="let m of data.gallery">
    <img [src]="m.image || m.icon"/>
    <div class="card-title">{{m.title}}</div>
    <div class="card-subtitle" text-center>
      {{m.description}}
    </div>
  </ion-card>
</ion-content>
<ion-footer class="no-border">
  <ion-toolbar  color="white" no-padding>
    <ion-row  no-padding>
      <ion-col no-padding (click)="call()"><button ion-button block color="green" large ><ion-icon name='call'></ion-icon></button></ion-col>
      <ion-col no-padding (click)="email()"><button ion-button block  color="primary" large ><ion-icon name='mail'></ion-icon></button></ion-col>
      <ion-col no-padding  (click)="loadMap()"><button ion-button block  color="secondary" large ><ion-icon name='map'></ion-icon></button></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
 