<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="tutorial-page">
  <ion-slides #homeSlider page (ionDidChange)="onSlideChanged()">
    <ion-slide *ngFor="let slide of slides">
      <h2 class="slide-title" [innerHTML]="slide.title" *ngIf="slide.title!==''" padding></h2>      
      <p [innerHTML]="slide.description"  padding></p>
      <img [src]="slide.image" class="slide-image" *ngIf="!slide.videourl"  padding/> 
      <iframe [src]="slide.videourl | safe" allowfullscreen="" class="e2e-iframe-trusted-src slide-image" *ngIf="!slide.videourl !==undefined && slide.videourl!=''" width="560" height="315" frameborder="0"  padding></iframe>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/pfmciqjVQOCBWMzwjvP7_44061892.jpg" class="slide-image" padding/>
      <h3 class="slide-title" padding>Experience the ...</h3>
      <button ion-button large clear icon-right (click)="goTo('menu');">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="no-border" *ngIf="!lastSliderPage">
  <ion-toolbar  color="white">
    <ion-buttons end>
      <button ion-button class="skip" (click)="goTo('menu');">Continue to Main Menu</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>