.tutorial-page {
  .slide-zoom {
    height: 100%;
  }
  
  .slide-title {
    padding-bottom:0px !important;
    margin-top: 1.1rem;
  }

  .slide-image {
    max-height: 70%;
    max-width: 100%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding-bottom:0px !important;
    font-size: 14px;
    line-height: 1.5;
    color: #222;

    b {
      color: #000000;
    }
  }

}
.no-border:before{
  background-image:none !important;
}
.no-border{
  .toolbar-background {
      background: #fff;
      border-color: transparent;
  }
  .skip{
      color:#005385 !important;
      /*text-transform: none;*/
  }
}