<ion-header>
  <ion-navbar color="primary">
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact SEZAD</ion-title>    
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label>Select Branch</ion-label>
        <ion-select [(ngModel)]="branch">
          <ion-option value="Muscat - Aziba">Muscat - Aziba</ion-option>
          <ion-option value="Muscat - KOM">Muscat - KOM</ion-option>
          <ion-option value="Duqm - HQ">Duqm - HQ</ion-option>
          <ion-option value="Duqm - Say">Duqm - Say</ion-option>
        </ion-select>
    </ion-item>
    <ion-item padding text-center>
      <img src="assets/img/ecommerce_handshake_icon.png" width="100px"/>
    </ion-item>
    <ion-list>  
        <ion-item class="lightblue"  (click)="goToForm('tel:+968 24507500')">
          <ion-icon name="checkmark-circle" item-left></ion-icon>
            Call us
          <ion-icon name="call" item-right></ion-icon>
        </ion-item> 
        <ion-item class="lightblue"  (click)="goToForm('mailto:info@duqm.com')">
          <ion-icon name="checkmark-circle" item-left></ion-icon>
            Email us
          <ion-icon name="mail"  item-right></ion-icon>
        </ion-item> 
        <ion-item class="lightblue" (click)="contactForm()">
          <ion-icon name="checkmark-circle" item-left></ion-icon>
           Submit Form
          <ion-icon name="send"  item-right></ion-icon>
        </ion-item> 
    </ion-list>     
</ion-content>