.map-content{
    text-align: center;
    #map_canvas{
        width:100%;
        height:100%;
        background: whitesmoke;
    }
    #gmp{
       width:0em !important;height:0em !important
    }
}
ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
}
