<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Near me</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="map-content">
   <div id="map_canvas" color="secondary" width="200px" height="200px" padding></div>
   <div id="gmp" width="0px" height="0px"></div>
</ion-content>
