ion-modal{
    padding:30px;
    background: rgba(0,0,0,0.4)
 }
verify-modal,verify-modal ion-content .scroll-content ion-grid{
    background:#fff !important;
    min-height:50px;
    overflow:auto;
}
verify-modal,verify-modal ion-content{    
    background: transparent !important;
}
verify-modal {
    margin-top:50%;    
     ion-col button{
        white-space: normal !important;
        font-size:8.4pt !important;
    }
    .pad-sides{
        padding-top:0px;
        padding-bottom:0px;
    }
    .textGray{
        color:color($colors,darkGrayColor) !important;
        font-size:16px  !important;
    }
}