<ion-content no-padding>
  <ion-grid>
    <ion-row padding>
      <ion-col no-padding text-center>
        <b class="textGray">{{title}}</b>
      </ion-col>
    </ion-row>
    <ion-row no-padding *ngIf="wrongCode">
      <ion-col padding class="pad-sides">
        <ion-item color="danger">
          Wrong verification code
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col padding class="pad-sides">
        <ion-item>
          <ion-icon name="ios-mail-outline" color="primary" no-padding item-left></ion-icon>
          <ion-input type="text" placeholder="Code received on SMS" [(ngModel)]="verificationCode"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row no-padding  class="pad-sides">
      <ion-col padding>
        <!--<button ion-button color="primary" (click)="dismiss()" class="pad-sides" block>CANCEL</button>-->
      </ion-col>
      <ion-col padding>
        <button ion-button color="primary" (click)="verify()" class="pad-sides" padding block>VERIFY</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
