<ion-header>
  <ion-navbar color="primary">
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fly To Duqm</ion-title>    
  </ion-navbar>
</ion-header>
<ion-content class="menu-page" no-padding>
    <ion-list>
    <ion-item>
        <ion-row>
          <ion-col text-center><b>Day</b></ion-col>
          <ion-col text-center><b>Sector</b></ion-col>
          <ion-col text-center><b>Departure</b></ion-col>
          <ion-col text-center><b>Arrival</b></ion-col>
        </ion-row>
    </ion-item>
    <ion-item *ngFor="let m of menu">
      <ion-row >        
        <ion-col text-center>{{m.day}}</ion-col>
        <ion-col text-center>{{m.sector}}</ion-col>
        <ion-col text-center>{{m.departure}}</ion-col>
        <ion-col text-center>{{m.arrival}}</ion-col>
      </ion-row>
    </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
  <ion-row>
      <ion-col>
        <ion-item  (click)="call()">
            <ion-icon name="md-plane" item-left></ion-icon> Call Center booking
            <ion-icon name="md-call" item-right></ion-icon>
        </ion-item>
      </ion-col>
  </ion-row>
  <ion-row>
     <ion-col>
        <ion-item (click)="mail()">
            <ion-icon name="md-plane" item-left></ion-icon> Email Booking
            <ion-icon name="md-mail" item-right></ion-icon>
        </ion-item>
      </ion-col>
  </ion-row>
</ion-footer>
 