page-fly-to-duqm {
    ion-content{
        background: url(../assets/img/yaTPBgmR8mFqrzmklegW_333333.jpg) no-repeat center;
        background-size:cover;
        ion-col{
            font-size:11pt;
        }
        ion-item,ion-list,ion-row{
            background:transparent !important;
        }
    }
}
