<ion-header>
  <ion-navbar color="primary">
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Report Incidence</ion-title>    
  </ion-navbar>
</ion-header>
<ion-content class="incidence-page" padding>
   <ion-list>
        <ion-item>
          <ion-label floating>Subject</ion-label>
          <ion-input type="text" [(ngModel)]="subject"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Mobile number</ion-label>
          <ion-input type="tel" [(ngModel)]="mobile"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="category">
            <ion-option value="Enviroment">Enviroment</ion-option>
            <ion-option value="Utility">Utility</ion-option>
            <ion-option value="Roads">Roads</ion-option>
            <ion-option value="Infrustructure">Infrustructure</ion-option>
            <ion-option value="Emergency Service">Emergency Service</ion-option>
            <ion-option value="Community Safety">Community Safety</ion-option>
            <ion-option value="Others">Others</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Description</ion-label>
          <ion-textarea rows="6" [(ngModel)]="description"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>Priority</ion-label>
            <ion-select [(ngModel)]="priority">
              <ion-option value="high">High</ion-option>
              <ion-option value="mid">Mid</ion-option>
              <ion-option value="low">Low</ion-option>
            </ion-select>
        </ion-item>     
    </ion-list>
    <ion-row>
      <ion-col>
        <button ion-button color="secondary"> <ion-icon name="map"></ion-icon> Location Incidence</button>
      </ion-col>
      <ion-col class="location_set">{{location.lat !=="" ? location.lat +', '+location.lng : ''}}</ion-col>
    </ion-row>
    <ion-row *ngIf="images.length>0">
      <button ion-button  clear color="dark" small>{{images.length}} images already uploaded</button> 
      <button ion-button color="green" (click)="viewImages()" small><ion-icon name="eye" item-right></ion-icon>View</button> 
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button color="primary" (click)="takePicture()"> <ion-icon name="camera"></ion-icon> Capture Image</button>
      </ion-col>
    </ion-row>      
    <ion-row>
        <button ion-button block color="green"  (click)="sendMail()"> <ion-icon name="send"></ion-icon> Submit</button>
    </ion-row>
    <div id="myloc" width="0px" height="0px"></div>
</ion-content>