<ion-header>
  <ion-navbar color="primary">
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Form</ion-title>    
  </ion-navbar>
</ion-header>
<ion-content padding>
   <ion-list>
        <ion-item>
          <ion-label>Select Department</ion-label>
          <ion-select [(ngModel)]="department">
            <ion-option value="Chairman Office">Chairman Office</ion-option>
            <ion-option value="CEO Office">CEO Office</ion-option>
            <ion-option value="One stop shop">One stop shop</ion-option>
            <ion-option value="HR">HR</ion-option>
            <ion-option value="Investors">Investors</ion-option>
            <ion-option value="Community Safety">Business Development</ion-option>
            <ion-option value="Contractors and Tenders">Contractors and Tenders</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Fullname</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email Address</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Mobile number</ion-label>
          <ion-input type="tel" [(ngModel)]="mobile"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Message</ion-label>
          <ion-textarea rows="4" [(ngModel)]="message" placeholder=""></ion-textarea>
        </ion-item>         
    </ion-list>
     <ion-row>
        <button ion-button block color="green" (click)="sendVerificationCode()"> <ion-icon name="send" item-left></ion-icon> Submit</button>
    </ion-row>
</ion-content>
 